body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: white;
}

.content-wrapper {
  margin: 2rem;
  width: full;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.search-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search-actions input {
  flex: 1;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  margin-right: 1rem;
  font-size: 1rem;
}

.buttons button {
  padding: 0.6rem 1rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.filter-btn {
  background-color: #1e293b;
  color: white;
}

.create-btn {
  background-color: #0ea5e9;
  color: white;
}

.table-container {
  overflow-x: auto;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e293b;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
}
.dashboard {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

/* ========================
   Sidebar
=========================== */
.sidebar {
  width: 250px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  box-shadow: 2px 0 20px var(--nav-shadow);
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  z-index: 10;
}
